<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DeptDao">
    <select id="list" resultType="com.example.demo.entity.DeptEntity" >
        select * from department
    </select>

    <select id="getById" parameterType="Integer" resultType="com.example.demo.entity.DeptEntity">
        select * from department where id = #{id}
    </select>

    <update id="update" parameterType="com.example.demo.entity.DeptEntity">
        update department
    </update>

    <insert id="addDept" parameterType="com.example.demo.entity.DeptEntity">
        insert into department (id,name) values (#{id}, #{name})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from department where id = #{id}
    </delete>
</mapper>